<!-- homePage -->
<template>
    <div class="homePage-container">
        <!-- header-start -->
        <div class="header-content">
            <div class='header-bg'>
                <div class="header">
                    <a class="section" href="/">
                        <img src="../../assets/about/about-pgc-logo.png" alt="" class="logo">
                        <!-- <img src="../../assets/about/about-pgc-logo.png" alt="" class="temi-logo"> -->
                    </a>
                    <a class="section-desc" href="">
                        Pretty Good Confidential
                    </a>
                    <div class="href-section">
                        <a href="#" class="nav-link">About</a>
                        <a href="/technology" class="nav-link">Technology</a>
                        <a href="#" class="nav-link">Auditability</a>
                        <a href="#" class="nav-link">pgcETH</a>
                        <a href="#" class="nav-link">Confidential Payment</a>
                        <a href="#" class="nav-link">Whitepaper</a>
                        <a href="#" class="nav-link">GitHub</a>
                    </div>
                    <!-- <div class="section-right">
                        <a href="#" class="">En</a>
                        <img src="" alt=""/>
                    </div> -->
                </div>
                <!-- header-end -->
                <!--  banner-start  -->
                <div class="homePage-banner">
                    <section class="banner-desc">
                        <p class="title">SEND, RECEIVE, STORE AND ACCEPT CRYPTO PAYMENTS SECURELY AND PRIVACY-PRESERVING</p>
                    </section>
                </div>
                <!--  banner-end -->
            </div>
        </div>

        <!-- homePage-desc-start -->
        <div class="homePage-desc">
            <div class="item">
                <p class="item-title">A cryptographic-based protocol which features in high scalability and privacy</p>
                <p class="item-btn"><a href="#">Learn more about Our technology</a></p>
            </div>
            <div class="item">
                <p class="item-title">PGC is not only confidential but also auditable.</p>
                <p class="item-btn item-btn-bg"><a href="#">Learn more about Our auditablity</a></p>
            </div>
        </div>
        <div class="homePage-list">
                <div class="title">
                    <p class="title-desc">Our Mission</p>
                    <p class="title-text">Privacy-preserving solutions for Decentralized Finance</p>
                </div>
                <ul class="desc">
                    <li class="border-bottom">
                        <div class="desc-img">
                            <img src="../../assets/home/home-icon1.png"/>
                        </div>
                        <p class="desc-item">
                            Implements and integrates the state-of-the-art trustless zero-knowledge proof schemes and offers multiple technical modules based on our zero-knowledge proof implementation to enable the developers to build privacy-preserving blockchain under various payment models instantaneously.
                        </p>
                    </li>
                    <li class="border-bottom">
                        <p class="desc-item">
                            PGC provides open-sourced code and protocols for the anonymous assets issued in the blockchain such as Ethereum to guarantee their high liquidity and exchangeability.
                        </p>
                        <div class="desc-img">
                            <img src="../../assets/home/home-icon2.png"/>
                        </div>
                    </li>
                    <li>
                        <div class="desc-img">
                            <img src="../../assets/home/home-icon3.png"/>
                        </div>
                        <p class="desc-item">
                            PGC is a modular, dynamic and interoperable ecosystem which will always evolve along with the latest development of most advanced privacy-preserving techniques to ensure that our launchpad is built on the most secure and efficient foundation.
                        </p>
                    </li>
                </ul>
        </div>
        <div class="homePage-icons">
            <p class="icons-desc">
                What PGC can do?
            </p>
            <div class="icons border-bottom">
                <div class="icons-item">
                    <p class="icons-desc">Convenient and Efficient Distributed Commerce</p>
                    <ul>
                        <li>
                            <p class="icons-desc-title">A confidential decentralized exchange</p>
                            <p class="icons-desc-text">where people can trade different privacy-preserving assets in complete confidentiality — neither the quantities or prices of orders can be gleaned from processed orders.</p>
                        </li>
                        <li>
                            <p class="icons-desc-title">Confidential weighted voting</p>
                            <p class="icons-desc-text">Governance mechanics that respect the privacy of a user’s vote are essential a large range of financial applications and our efficient range proofs make this achievable.</p>
                        </li>
                        <li>
                            <p class="icons-desc-title">Anonymous identity sharing schemes</p>
                            <p class="icons-desc-text">Being able to prove that you’re part of a group, without revealing who in the group you are is an essential component for many compliance and KYC processes.</p>
                        </li>
                    </ul>
                </div>
                <div class="icons-img">
                    <img src="../../assets/home/home-icon4.png" alt=""/>
                </div>
            </div>
            <div class="icons border-bottom">
                <div class="icons-img">
                    <img src="../../assets/home/home-icon5.png" alt=""/>
                </div>
                <div class="icons-item">
                    <p class="icons-desc">Secure and Trustworthy Data Exchange</p>
                    <ul>
                        <li>
                            <p class="icons-desc-title">Data Market</p>
                            <p class="icons-desc-text">accelerate data flow by integrating multi-source data, determining data price and claiming data sovereignty</p>
                        </li>
                        <li>
                            <p class="icons-desc-title">Federated Learning</p>
                            <p class="icons-desc-text">Enable establishment of joint data model through peer-to-peer network and privacy computation and further promote model iteration through evaluation and incentive mechanism.</p>
                        </li>
                        <li>
                            <p class="icons-desc-title">Global Scientific Computing</p>
                            <p class="icons-desc-text">Encourage global idle computing resources to participate in scientific computing while data privacy preserved.</p>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="icons">
                <div class="icons-item">
                    <p class="icons-desc">Reliable Privacy-Preserving Computation Capabilities</p>
                    <ul>
                        <li>
                            <p class="icons-desc-title">Open service components and APIs</p>
                            <p class="icons-desc-text">developers could use them to build apps, platforms or even cryptocurrencies.</p>
                        </li>
                        <li>
                            <p class="icons-desc-title">Data and Computing Power Exchange Services</p>
                            <p class="icons-desc-text">Multiple built-in cryptography and data analysis algorithms to enable price discovery, ownership registration</p>
                        </li>
                        <li>
                            <p class="icons-desc-title">Digital Asset Custody Services</p>
                            <p class="icons-desc-text">Different types and grades of custody services for digital assets management</p>
                        </li>
                    </ul>
                </div>
                <div class="icons-img">
                    <img src="../../assets/home/home-icon6.png" alt=""/>
                </div>
            </div>
        </div>
        <div class="homePage-build">
            <div class="build-title">
                <p class="title">Build Applications on PGC</p>
                <p class="desc">PGC provides full support to PGC-based ecosystem by equipping developers with point-to-point, deliverable operation support and technical services.</p>
            </div>
            <ul class="build-list">
                <li>
                    <div class="list-img">
                        <img src='../../assets/home/home-icon7.png'/>
                    </div>
                    <p class="list-desc">
                        Different solutions of privacy protection for different scenarios
                    </p>
                </li>
                <li>
                    <div class="list-img">
                        <img src='../../assets/home/home-icon8.png'/>
                    </div>
                    <p class="list-desc">
                        Resources and applications listed as services
                    </p>
                </li>
                <li>
                    <div class="list-img">
                        <img src='../../assets/home/home-icon9.png'/>
                    </div>
                    <p class="list-desc">
                        Full range of capabilities of computation, storage and communication
                    </p>
                </li>
                <li>
                    <div class="list-img">
                        <img src='../../assets/home/home-icon10.png'/>
                    </div>
                    <p class="list-desc">
                        Sufficient developer tools and resources
                    </p>
                </li>
            </ul>
        </div>
        <div class="homePage-btns">
            <div class="item border-bottom">
                <div class="item-img">
                    <img src='../../assets/home/home-icon11.png'/>
                </div>
                <div class="item-btn-list">
                    <p class="btn-title">pgcETH: a financial privacy engine running on Ethereum.</p>
                    <p class="btn"><a href="#">Learn more</a></p>
                </div>
            </div>
            <div class="item">
                <div class="item-img">
                    <img src='../../assets/home/home-icon12.png'/>
                </div>
                <div class="item-btn-list">
                    <p class="btn-title">Confidential Payment as a service</p>
                    <p class="btn btn-bg"><a href="#">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="homePage-pictures">
            <div class="picture-container">
                <div class="picture-title">
                    Press
                </div>
                <div class="picture-list">
                    <div class="picture-1">
                        <img src='../../assets/home/home-picture2.png'/>
                    </div>
                    <div class="picture-2">
                        <img src='../../assets/home/home-picture3.png'/>
                    </div>
                    <div class="picture-3">
                        <div class="item item1">
                            <img src='../../assets/home/home-picture4.png'/>
                        </div>
                        <div class="item">
                            <img src='../../assets/home/home-picture5.png'/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--  homePage-desc-end  -->

        <!--  homePage-footer-start -->
        <div class="homePage-footer">
            <ul class="list">
                <li>
                    <div class="title">
                       <img src="../../assets/about//about-pgc-logo.png" alt=""/> 
                       Pretty Good Confidential
                    </div>
                    <p class='left'><a href="#">contact@pgc.info</a></p>
                    <p class='left'><a href="#">PGC Academy</a></p>
                </li>
                <li>
                    <div class="title">
                        General
                    </div>
                    <p><a href="#">Home</a></p>
                    <p><a href="#">About Us</a></p>
                    <p><a href="#">Press</a></p>
                </li>
                <li>
                    <div class="title">
                        Technology
                    </div>
                    <p><a href="#">Trustless efficient ZKP</a></p>
                    <p><a href="#">Decentralized Confidential Payment</a></p>
                    <p><a href="#">Auditability</a></p>
                    <p><a href="#">Whitepaper</a></p>
                </li>
                <li>
                    <div class="title">
                        Product
                    </div>
                    <p><a href="#">pgcETH</a></p>
                    <p><a href="#">Decentralized Confidential Payment</a></p>
                </li>
                <li>
                    <div class="title">
                        Community
                    </div>
                    <p><a href="#">Github</a></p>
                </li>
            </ul>
        </div>
        <!--  confidential-footer-end  -->
    </div>
</template>
<script>
export default {
    data () {
        return {

        }
    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.homePage-container{
    min-width: fn(1200);
  .header-content {
    width: 100%;
    height: fn(659);
    display: flex;
    flex-direction: column;
    background: url('../../assets/home/home-picture1.png') no-repeat;
    background-size: cover;
    .header-bg {
        width: 100%;
        height: fn(659);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 1;
        background: rgba(54,52,82,0.8);
        .header {
            width: fn(1400);
            margin: fn(22) auto;
            display: flex;
            z-index: 100;
        .section {
        display: flex;
        align-items: center;
        justify-items: center;
        .logo {
            width: fn(41);
            height: fn(47);
            margin-right: fn(25)
        }
        } 
        .section-desc {
            // width: fn(213);
            height: fn(25);
            margin-top: fn(11);
            font-size: fn(18);
            color: #ffffff;
        }
        .href-section {
        margin-left: fn(155);
        display: flex;
        justify-content: center;
        align-items: center;
        .nav-link {
            font-size:fn(16);
            line-height:fn(28);
            color:#ffffff;
            position: relative;
            display: block;
            position: relative;
            padding: fn(5) fn(16);
            margin-left: fn(10);
            text-decoration: none;
            -webkit-transition: color .2s ease-in-out;
            transition: color .2s ease-in-out;
            cursor: pointer;
        }
        }
        .nav-link:before {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            border-bottom: 2px solid #ffc123;
        }
        
        .nav-link:before {
            left: 0;
            bottom: -4px;
        }
        
        .nav-link:hover {
            //  color: #222;
        }
        
        .nav-link:hover:before {
            width: 100%;
        }
        
        .nav-link:before {
            -webkit-transition: width .2s ease-in-out;
            transition: width .2s ease-in-out;
        }
        
        }
        .homePage-banner {
            width: 100%;
            height: fn(412);
            margin-top: fn(47);
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            .banner-desc {
                width: fn(858);
                margin: 0 auto;
                .title {
                    font-size: fn(28);
                    line-height: fn(60);
                    font-weight: 800;
                }
            }
        }
    }

  }
  .homePage-desc {
      width: fn(1400);
      height: fn(306);
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      .item {
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          .item-title {
              width: fn(421);
              line-height: fn(34);
              height: fn(80);
              font-size: fn(20);
              font-weight: 600;
              color: #363452;
          }
          .item-btn {
              width: fn(421);
              height: fn(56);
              text-align: center;
              display: flex;
              align-items: center;
              justify-content: center;
              border: 1px solid rgba(54,52,82,1);
              font-size: fn(18);
              color: #363452;
          }
          .item-btn-bg {
              background: #363452;
              color: #ffffff;
          }
      }
  }
  .homePage-list {
      width: 100%;
      background: rgba(250,250,253,1);
      padding: fn(44) 0;
      .title {
          width: fn(1400);
          margin: 0 auto;
          padding-bottom: fn(40);
          text-align: center;
          .title-desc {
              font-size: fn(28);
              font-weight: 600;
              line-height: fn(20);
          }
          .title-text {
              font-size: fn(18);
              color: #DEA244;
              line-height: fn(10);
          }
      }
      .desc{
          width: fn(1400);
          margin: 0 auto;
          li {
              width: 80%;
              margin: 0 auto;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: fn(54) 0;
              .desc-img {
                  width:50%;
                  text-align: center;
                  img {
                    width: fn(140);
                    height: fn(140);
                  }
              }
              .desc-item {
                  width: 50%;
                  font-size: fn(18);
                  color: #3E3E3E;
                  line-height: fn(28);
              }
          }
          .border-bottom {
              border-bottom: 1px dashed #EDEDED;
          }
      }
  }
  .homePage-icons {
      width: fn(1400);
      margin: 0 auto;
      padding-top: fn(23);
      .icons-desc {
          width: 100%;
          text-align: center;
          font-size: fn(28);
          line-height: fn(23);
          color: #363452;
          font-weight: 600;
      }
      .border-bottom {
          border-bottom: 1px dashed rgba(237,237,237,1);
      }
      .icons {
          width: 80%;
          margin: 0 auto;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: fn(30) 0;
          .icons-img {
              width: 40%;
              text-align: center;
              img {
                  width: fn(141);
                  height: fn(141);
              } 
          }
          .icons-item {
              flex: 1;
              &.bottom {
                  margin-left: fn(120);
              }
              .icons-desc {
                  font-size: fn(20);
                  color:#E1AC58;
                  font-weight: 600;
                  text-align: left;
              }
              ul {
                  li {
                      .icons-desc-title {
                          font-size: fn(16);
                          line-height: fn(12);
                          font-weight: 600;
                          color: #3E3E3E;
                      }
                      .icons-desc-text {
                          font-size: fn(14);
                          line-height: fn(24);
                      }
                  }
              }
          }
      }
  }
  .homePage-build {
      width: 100%;
      margin: 0 auto;
      height: fn(645);
      background: #FAFAFD;
      padding: fn(50) 0;
      .build-title {
          width: 60%;
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          .title {
              width: 100%;
              font-size: fn(28);
              color: #363452;
              font-weight: 600;
              text-align: center;
              line-height: fn(18);
          }
          .desc {
              width: fn(801);
              font-size: fn(18);
              color: #DEA244;
              line-height: fn(34);
          }
      }
      .build-list {
          width: 60%;
          margin: fn(57) auto 0;
          display: flex;
          flex-flow: row wrap;
          li {
              width: 50%;
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: center;
              padding-bottom: fn(72);
              .list-img {
                  img {
                      width: fn(126);
                      height: fn(126);
                  }
              }
              .list-desc {
                  padding:0 fn(40);
                  flex: 1;
                  font-size: fn(16);
                  line-height: fn(28);
              }
          }
      }
  }
  .homePage-btns{
      width: 100%;
      .item {
          width: 60%;
          margin: 0 auto;
          padding: fn(59) 0;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          .item-img {
              img {
                  width: fn(126);
                  height: fn(126);
              }
          }
          .item-btn-list {
              flex: 1;
              padding-left: fn(150);
              .btn-title {
                  font-size: fn(24);
                  line-height: fn(34);
              }
              .btn {
                  width: fn(421);
                  height: fn(56);
                  text-align: center;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border: 1px solid rgba(54,52,82,1);
              }
              .btn-bg {
                  background: rgba(54,52,82,1);
                  color: #ffffff;
              }
          }
      }
      .border-bottom {
          border-bottom: 1px dashed rgba(237,237,237,1);
      }
  }
  .homePage-pictures {
      width: 100%;
      height: fn(665);
      background: #FAFAFD;
      .picture-container {
          width: fn(1200);
          margin: 0 auto;
          .picture-title {
              width: fn(1200);
              text-align: center;
              font-size: fn(24);
              line-height: fn(34);
              color: #363452;
              padding-top: fn(46);
              font-weight: 600;
          }
          .picture-list {
              width: fn(1200);
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              align-items: center;
              .picture-1 {
                  width: fn(670);
                  height: fn(527);
                    img {
                        width: fn(670);
                        height: fn(527);
                    }
              }
              .picture-2 {
                  width: fn(322);
                  height: fn(527);
                  margin-left: fn(-65);
                    img {
                        width: fn(322);
                        height: fn(527);
                    }
              }
              .picture-3 {
                  width: fn(222);
                  height: fn(527);
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  margin-left: fn(-35);
                  .item {
                      img {
                          width: fn(222);
                          height: fn(222);
                      }
                  }
                  .item1 {
                      margin-top: fn(16);
                      margin-bottom: fn(21);
                  }
              }
          }
      }
  }
  .homePage-footer {
      width: 100%;
      height: fn(306);
      background: #363452;
      ul.list {
          width: fn(1400);
          margin: 0 auto;
        //   padding-top: fn(29);
          display: flex;
          justify-content: space-between;
          li {
              height: 100%;
              padding-top: fn(29);
              div.title {
                  font-size: fn(14);
                  color: #ffffff;
                  line-height: fn(39);
                  img {
                      width: fn(34);
                      height: fn(39);
                      vertical-align: middle;
                      margin-right: fn(23);
                  }
              }
              p {
                  line-height: fn(23);
                  width: fn(127);
                  color: #BABABA;
              }
              p.left {
                  margin-left: fn(64);
              }
          }
      }
  }

}
</style>
