<!-- confidential -->
<template>
    <div class="confidential-container">
        <!-- header-start -->
        <Header></Header>
        <!-- header-end -->

        <!--  banner-start  -->
        <div class="confidential-banner">
            <section class="banner-desc">
                <p class="title">SEND, RECEIVE, STORE AND ACCEPT CRYPTO PAYMENTS SECURELY AND PRIVACY-PRESERVING</p>
            </section>
        </div>
        <!--  banner-end -->

        <!-- confidential-desc-start -->
        <div class="confidential-desc">
            <div class="item">
                <p class="title">
                    Confidential Payment as a service
                </p>
                <p class="desc info">
                    Our privacy-preserving applications and Electronically certify & notarize payments (from invoice request to paid receipt) on the blockchain to ensure your payment history is secure, electronically auditable, independently verifiable, and free of tampering.
                </p>
            </div>
        </div>
        <div class="confidential-list">
                <p class="title">
                    Advantages of CPaaS
                </p>
                <ul class="desc">
                    <li>•Easy Access: All you need to login is a browser and an internet connection. Since your data is stored in the cloud, you can get work done from anywhere you want.</li>
                    <li>•Fast Implementation: CPaaS does not need to be installed on individual machines. Once our solutions team sets up your account, your team can start accepting payments immediately. </li>
                    <li>•Improve Compliance: CPaaS solutions automatically create digitally auditable records stored on the blockchain to guarantee that payments are secure and free of tampering.</li>
                    <li>•Lower Costs: Reduce monthly costs and increase forecasting accuracy by switching from volume-based pricing to flat monthly rates. </li>
                    <li>•Reduce Fees: CPaaS solutions offer a number of ways to reduce processing costs using intuitive software.</li>
                    <li>•Software Updates: Expensive upgrades become a thing of the past with CPaaS. Instead, CPaaS updates the software on a regular basis — similar to how you routinely receive free updates to apps on your smartphone.</li>
                </ul>
        </div>
        <div class="confidential-icons">
            <div class="icons border-bottom">
                <div class="icons-img">
                    <img src="../../assets/confidential/confidential-icon1.png" alt=""/>
                </div>
                <div class="icons-item">
                    <p class="icons-desc">Blockchain notarized certificates</p>
                    <span>our certified payment requests and receipts result in a electronically notarized record trail that is secure, certified, and fully audit-able.</span>
                    <span>• Creates greater trust for all parties </span>
                    <span>• Enables added compliance and transparency in the system</span>
                    <span>• Makes for better digital tracking</span>
                    <span>• Reduces errorsIdentifies fraud more easily</span>
                </div>
            </div>
            <div class="icons border-bottom">
                <div class="icons-item">
                    <p class="icons-desc">Payment Channels</p>
                    <span>Payment channels are a popular way to avoid the fee and delay associated with on-chain transactions. Two or more parties can set-up a payment channel amongst them by committing to some money up front. They can then send messages to each other offline to keep track of the money they owe each other.</span>
                </div>
                <div class="icons-img">
                    <img src="../../assets/confidential/confidential-icon2.png" alt=""/>
                </div>
            </div>
            <div class="icons border-bottom">
                <div class="icons-img">
                    <img src="../../assets/confidential/confidential-icon3.png" alt=""/>
                </div>
                <div class="icons-item">
                    <p class="icons-desc">Blockchain notarized certificates</p>
                    <span>our certified payment requests and receipts result in a electronically notarized record trail that is secure, certified, and fully audit-able.</span>
                    <span>• Creates greater trust for all parties </span>
                    <span>• Enables added compliance and transparency in the system </span>
                    <span>• Makes for better digital tracking</span>
                    <span>• Reduces errorsIdentifies fraud more easily</span>
                </div>
            </div>
            <div class="icons">
                <div class="icons-item bottom">
                    <p class="icons-desc">Certified Payment Receipts</p>
                    <span>Permanently proof and verify critical payments</span>
                    <span>• Better customer experience</span>
                    <span>• Digital timestamping </span>
                    <span>• Improve Security</span>
                    <span>• Decentralized Scalability</span>
                </div>
                <div class="icons-img">
                    <img src="../../assets/confidential/confidential-icon4.png" alt=""/>
                </div>
            </div>
        </div>
        
        <!--  confidential-desc-end  -->

        <!--  confidential-footer-start -->
        <Footer></Footer>
        <!--  confidential-footer-end  -->
    </div>
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
    components: {
        Header,
        Footer
    },
    data () {
        return {

        }
    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.confidential-container{
    min-width: fn(1200);
  .header {
    width: fn(1400);
    margin: fn(22) auto;
    display: flex;
    z-index: 100;
    .section {
      display: flex;
      align-items: center;
      justify-items: center;
      .logo {
        width: fn(41);
        height: fn(47);
        margin-right: fn(25)
      }
    } 
    .section-desc {
        // width: fn(213);
        height: fn(25);
        margin-top: fn(11);
        font-size: fn(18);
        color: #454545;
        font-weight: 600;
    }
    .href-section {
      margin-left: fn(155);
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-link {
        font-size:fn(16);
        line-height:fn(28);
        color:#454545;
        position: relative;
        display: block;
        position: relative;
        padding: fn(5) fn(16);
        margin-left: fn(10);
        text-decoration: none;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        cursor: pointer;
      }
    }
    .nav-link:before {
         content: "";
         position: absolute;
         bottom: 0;
         width: 0;
         border-bottom: 2px solid #ffc123;
     }
     
     .nav-link:before {
         left: 0;
         bottom: -4px;
     }
     
     .nav-link:hover {
        //  color: #222;
     }
     
     .nav-link:hover:before {
         width: 100%;
     }
     
     .nav-link:before {
         -webkit-transition: width .2s ease-in-out;
         transition: width .2s ease-in-out;
     }
  }
  .confidential-banner {
      background: url("../../assets/about/about-bg.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: fn(412);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      .banner-desc {
          width: fn(858);
          margin: 0 auto;
          .title {
              font-size: fn(28);
              line-height: fn(60);
              font-weight: 800;
          }
      }
  }
  .confidential-desc {
      width: fn(1400);
      margin: 0 auto;
      .item {
          padding: fn(51) 0;
          font-size: fn(18);
          line-height: fn(30);
          .title {
              font-size: fn(24);
              font-weight: 600;
              text-align: center;
          }
          .info {
              width: fn(1200);
              margin: 0 auto;
          }
          .letter {
              width: fn(932);
              margin-bottom: fn(50);
          }
          .img-desc {
              width: 100%;
          }
          .list {
              width: 100%;
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              .list-item {
                  width: fn(544);
                  height: fn(416);
                  background: rgba(223,227,229,0.19);
                  margin-bottom: fn(73);
                  padding: fn(61) fn(44);
                  .icons {
                      width: fn(126);
                      height: fn(126);
                  }
                  .item-title {
                      font-size: fn(20);
                      font-weight: 600;
                  }
              }
          }
      }
      .border-bottom {
            border-bottom: 1px dashed #EDEDED ;
      }
  }
  .confidential-list {
      width: 100%;
      background: rgba(250,250,253,1);
      padding: fn(44) 0;
      .title {
          width: fn(1400);
          margin: 0 auto;
          padding-bottom: fn(40);
          text-align: center;
          font-size: fn(24);
          font-weight: 600;
      }
      .desc{
          width: fn(1400);
          margin: 0 auto;
          li {
              line-height: fn(30);
          }
      }
  }
  .confidential-icons {
      width: fn(1400);
      margin: 0 auto;
      padding-top: fn(23);
      .border-bottom {
          border-bottom: 1px dashed rgba(237,237,237,1);
      }
      .icons {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: fn(30) 0;
          .icons-img {
              width: 50%;
              text-align: center;
              img {
                  width: fn(141);
                  height: fn(141);
              } 
          }
          .icons-item {
              flex: 1;
              &.bottom {
                  margin-left: fn(120);
              }
              .icons-desc {
                  font-size: fn(18);
                  color: #363452;
                  font-weight: 600;
                  margin-bottom: fn(30);
              }
              span {
                  display: block;
                  line-height: fn(30);
              }
          }
      }
  }
  .confidential-footer {
      width: 100%;
      height: fn(306);
      background: #363452;
      ul.list {
          width: fn(1400);
          margin: 0 auto;
        //   padding-top: fn(29);
          display: flex;
          justify-content: space-between;
          li {
              height: 100%;
              padding-top: fn(29);
              div.title {
                  font-size: fn(14);
                  color: #ffffff;
                  line-height: fn(39);
                  img {
                      width: fn(34);
                      height: fn(39);
                      vertical-align: middle;
                      margin-right: fn(23);
                  }
              }
              p {
                  line-height: fn(23);
                  width: fn(127);
                  color: #BABABA;
              }
              p.left {
                  margin-left: fn(64);
              }
          }
      }
  }

}
</style>
