<template>
    <div class="auditability-container">
        <!-- header-start -->
        <Header></Header>
        <!-- header-end -->

        <!--  banner-start  -->
        <div class="auditability-banner">
            <section class="banner-desc">
                <p class="title">PGC IS NOT ONLY CONFIDENTIAL BUT ALSO AUDITABLE.</p>
                <p class="line"></p>
                <p class="desc">PGC supports privacy-preserving audit in which an external party can specify a set of transactions and then request the participant to prove their compliance with a large class of policies.</p>
            </section>
        </div>
        <!--  banner-end -->

        <!-- auditability-desc-start -->
        <div class="auditability-desc">
            <div class="item border-bottom">
                <p class="title">
                    Auditability in decentralized payment systems is challenging
                </p>
                <p class="desc">
                    Auditability is a crucial property in all financial systems. Informally, it means that an auditor can not only check transactions satisfy some pre-fixed policies before-the-fact, but also request participants to prove his/her transactions complying with some policies after-the-fact. In centralized payment system where there exists a trusted center, such as bank, Paypal or Alipay, auditability is a built-in property since the center knows details of all transactions and thus be able to conduct audit. However, it is challenging to provide the same level of auditability in decentralized payment systems with strong privacy guarantee.
                </p>
            </div>
            <div class="item border-bottom">
                <p class="title right">
                    PGC supports privacy-preserving audit with flexible policies
                </p>
                <div class="img-desc">
                    <img class="img" src="../../assets/auditability/auditability-icon1.png" alt=""/>
                    <p class="desc">
                        <span>
                            Unlike other confidential blockchains in which confidentiality is all-or-nothing, PGC can enforcing more auditing policies such as selective disclosure.
                        </span>
                        <span>
                            Selective disclosure allows users to prove financial transactions are correct and compliant without revealing any sensitive information. 
                        </span>
                        <span>
                            PGC‘s heavily optimized Bulletproofs have made selective disclosure practical enough for use in a decentralized public network.
                        </span>
                    </p>
                </div>
            </div>
            <div class="item">
                <p class="title letter">
                    PGC’s Auditability Toolset <br/> Our users can prove important financial statements about encrypted information.
                </p>
                <div class="list">
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon2.png" alt=""/>
                        <p class="item-title">Confidential asset transfer</p>
                        <p class="item-content">Use cryptographic commitments to hide the details of a transaction while still enabling the network to confirm its validity.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon3.png" alt=""/>
                        <p class="item-title">Proof of solvency</p>
                        <p class="item-content">Prove that the value of asset-backed tokens held by a fund or exchange exceeds its liabilities while keeping the balance sheet confidential.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon4.png" alt=""/>
                        <p class="item-title">Anti money laundery</p>
                        <p class="item-content">The auditor can enforce upper bound of amount of confidential transaction for anti-laundering money.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon5.png" alt=""/>
                        <p class="item-title">Ratio policy</p>
                        <p class="item-content">The auditor can enforce ratio policy to ensure taxpayer paid tax according to the rules.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon6.png" alt=""/>
                        <p class="item-title">Proof of whitelisted assets</p>
                        <p class="item-content">Prove that the issuer of a confidential asset, such as stock in a hidden company, is whitelisted.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon7.png" alt=""/>
                        <p class="item-title">Privacy-preserving computation</p>
                        <p class="item-content">Support sealed-bid auctions, fair lotteries, and private order-book matching, where the values of bids and asks are hidden until matched.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon8.png" alt=""/>
                        <p class="item-title">Balance range proofs</p>
                        <p class="item-content">Use Bulletproofs to show that a confidential account balance or transfer amount falls within a specified range.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon9.png" alt=""/>
                        <p class="item-title">Confidential asset tracer</p>
                        <p class="item-content">Place a hidden tracer on an asset so that the asset issuer (e.g. company issuing equity shares) can track the details of all ownership transfers while they remain confidential to the public.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon10.png" alt=""/>
                        <p class="item-title">Confidential multi-source payment</p>
                        <p class="item-content">Submit confidential multi-source payments that hide from the recipient the amounts contributed from each source, revealing only the aggregate amount.</p>
                    </div>
                    <div class="list-item">
                        <img class="icons" src="../../assets/auditability/Auditability-icon11.png" alt=""/>
                        <p class="item-title">Capability-specific viewing keys</p>
                        <p class="item-content">Authorize regulators with viewing keys that do not gain control of user accounts but allow regulators to confirm compliance without the user’s interaction. We enable fine-grained audit keys that selectively reveal only necessary information.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--  auditability-desc-end  -->

        <!--  auditability-footer-start -->
        <Footer></Footer>
        <!--  auditability-footer-end  -->
    </div>
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
    components: {
        Header,
        Footer
    },
    data () {
        return {

        }
    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.auditability-container{
    min-width: fn(1200);
  .header {
    width: fn(1400);
    margin: fn(22) auto;
    display: flex;
    z-index: 100;
    .section {
      display: flex;
      align-items: center;
      justify-items: center;
      .logo {
        width: fn(41);
        height: fn(47);
        margin-right: fn(25)
      }
    } 
    .section-desc {
        // width: fn(213);
        height: fn(25);
        margin-top: fn(11);
        font-size: fn(18);
        color: #454545;
        font-weight: 600;
    }
    .href-section {
      margin-left: fn(155);
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-link {
        font-size:fn(16);
        line-height:fn(28);
        color:#454545;
        position: relative;
        display: block;
        position: relative;
        padding: fn(5) fn(16);
        margin-left: fn(10);
        text-decoration: none;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        cursor: pointer;
      }
    }
    .nav-link:before {
         content: "";
         position: absolute;
         bottom: 0;
         width: 0;
         border-bottom: 2px solid #ffc123;
     }
     
     .nav-link:before {
         left: 0;
         bottom: -4px;
     }
     
     .nav-link:hover {
        //  color: #222;
     }
     
     .nav-link:hover:before {
         width: 100%;
     }
     
     .nav-link:before {
         -webkit-transition: width .2s ease-in-out;
         transition: width .2s ease-in-out;
     }
  }
  .auditability-banner {
      background: url("../../assets/about/about-bg.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: fn(412);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      .banner-desc {
          width: fn(858);
          margin: 0 auto;
          .title {
              font-size: fn(28);
              font-weight: 800;
          }
          .line {
              width: 100%;
              border-top: 1px solid #ffffff;
              margin-bottom: fn(30);
          }
          .desc {
              font-size: fn(18);
              line-height: fn(30);
          }
      }
  }
  .auditability-desc {
      width: fn(1200);
      margin: 0 auto;
      .item {
          padding: fn(51) 0;
          font-size: fn(18);
          line-height: fn(30);
          .title {
              font-size: fn(24);
              font-weight: 600;
          }
          .letter {
              width: fn(932);
              margin-bottom: fn(50);
          }
          .img-desc {
              width: 100%;
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              .img {
                  width: fn(433);
                  height: fn(188);
                  margin-right: fn(92);
                  margin-top: fn(22);
              }
              .desc {
                  flex: 1;
                  span {
                      display: block;
                      margin-bottom: fn(25);
                  }
              }
          }
          .right {
              text-align: right;
          }
          .list {
              width: 100%;
              display: flex;
              flex-flow: row wrap;
              justify-content: space-between;
              .list-item {
                  width: fn(544);
                  height: fn(416);
                  background: rgba(223,227,229,0.19);
                  margin-bottom: fn(73);
                  padding: fn(61) fn(44);
                  .icons {
                      width: fn(126);
                      height: fn(126);
                  }
                  .item-title {
                      font-size: fn(20);
                      font-weight: 600;
                  }
              }
          }
      }
      .border-bottom {
            border-bottom: 1px dashed #EDEDED ;
      }
  }
  .auditability-footer {
      width: 100%;
      height: fn(306);
      background: #363452;
      ul.list {
          width: fn(1400);
          margin: 0 auto;
        //   padding-top: fn(29);
          display: flex;
          justify-content: space-between;
          li {
              height: 100%;
              padding-top: fn(29);
              div.title {
                  font-size: fn(14);
                  color: #ffffff;
                  line-height: fn(39);
                  img {
                      width: fn(34);
                      height: fn(39);
                      vertical-align: middle;
                      margin-right: fn(23);
                  }
              }
              p {
                  line-height: fn(23);
                  width: fn(127);
                  color: #BABABA;
              }
              p.left {
                  margin-left: fn(64);
              }
          }
      }
  }

}
</style>
