<template>
   <div class="header">
      <a class="section" href="/">
          <img src="../../assets/about/about-pgc-logo.png" alt="" class="logo">
          <!-- <img src="../../assets/about/about-pgc-logo.png" alt="" class="temi-logo"> -->
      </a>
      <a class="section-desc" href="">
          Pretty Good Confidential
      </a>
      <div class="href-section">
          <a href="/about" class="nav-link">About</a>
          <a href="/technology" class="nav-link">Technology</a>
          <a href="/auditability" class="nav-link">Auditability</a>
          <a href="#" class="nav-link">pgcETH</a>
          <a href="/confidential" class="nav-link">Confidential Payment</a>
          <a href="#" class="nav-link">Whitepaper</a>
          <a href="#" class="nav-link">GitHub</a>
      </div>
      <!-- <div class="section-right">
          <a href="#" class="">En</a>
          <img src="" alt=""/>
      </div> -->
  </div>
</template>

<script>
export default {
  name: 'header',
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    toggleClick: {
      type: Function,
      default: null
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
.header {
    width: fn(1400);
    margin: fn(22) auto;
    display: flex;
    z-index: 100;
    .section {
      display: flex;
      align-items: center;
      justify-items: center;
      .logo {
        width: fn(41);
        height: fn(47);
        margin-right: fn(25)
      }
    } 
    .section-desc {
        // width: fn(213);
        height: fn(25);
        margin-top: fn(11);
        font-size: fn(18);
        color: #454545;
        font-weight: 600;
    }
    .href-section {
      margin-left: fn(155);
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-link {
        font-size:fn(16);
        line-height:fn(28);
        color:#454545;
        position: relative;
        display: block;
        position: relative;
        padding: fn(5) fn(16);
        margin-left: fn(10);
        text-decoration: none;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        cursor: pointer;
      }
    }
    .nav-link:before {
         content: "";
         position: absolute;
         bottom: 0;
         width: 0;
         border-bottom: 2px solid #ffc123;
     }
     
     .nav-link:before {
         left: 0;
         bottom: -4px;
     }
     
     .nav-link:hover {
        //  color: #222;
     }
     
     .nav-link:hover:before {
         width: 100%;
     }
     
     .nav-link:before {
         -webkit-transition: width .2s ease-in-out;
         transition: width .2s ease-in-out;
     }
  }
</style>
