<template>
    <div class="about-container">
        <!-- header-start -->
       <Header></Header>
        <!-- header-end -->

        <!--  banner-start  -->
        <div class="about-banner">
            <section class="banner-desc">PRETTY GOOD CONFIDENTIAL BRINGS FINANCIAL PRIVACY TO EVERYONE</section>
        </div>
        <!--  banner-end -->

        <!-- about-desc-start -->
        <div class="about-desc">
            <p class="title">PGC is a leading Beijing based deep-tech company working on cutting edge financial privacy infrastructure such as Decentralized confidential payment systems, and trustless Zero knowledge proofs for DeFi. </p>
            <p class="">Our new office, located in CBD Beijing, positions us at the centre of the growing blockchain community which includes startups, enterprise, enthusiasts and investors. We have an established network within traditional finance, elite universities and software engineering which provides us with the experience and support required to deliver innovative and useful products.</p>
        </div>
        <!--  about-desc-end  -->

        <!--  about-footer-start -->
        <Footer></Footer>
        <!--  about-footer-end  -->
    </div>
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
    components: {
        Header,
        Footer
    },
    data () {
        return {

        }
    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.about-container{
    min-width: fn(1200);
  .header {
    width: fn(1400);
    margin: fn(22) auto;
    display: flex;
    z-index: 100;
    .section {
      display: flex;
      align-items: center;
      justify-items: center;
      .logo {
        width: fn(41);
        height: fn(47);
        margin-right: fn(25)
      }
    } 
    .section-desc {
        // width: fn(213);
        height: fn(25);
        margin-top: fn(11);
        font-size: fn(18);
        color: #454545;
        font-weight: 600;
    }
    .href-section {
      margin-left: fn(155);
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-link {
        font-size:fn(16);
        line-height:fn(28);
        color:#454545;
        position: relative;
        display: block;
        position: relative;
        padding: fn(5) fn(16);
        margin-left: fn(10);
        text-decoration: none;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        cursor: pointer;
      }
    }
    .nav-link:before {
         content: "";
         position: absolute;
         bottom: 0;
         width: 0;
         border-bottom: 2px solid #ffc123;
     }
     
     .nav-link:before {
         left: 0;
         bottom: -4px;
     }
     
     .nav-link:hover {
        //  color: #222;
     }
     
     .nav-link:hover:before {
         width: 100%;
     }
     
     .nav-link:before {
         -webkit-transition: width .2s ease-in-out;
         transition: width .2s ease-in-out;
     }
  }
  .about-banner {
      background: url("../../assets/about/about-bg.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: fn(412);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      .banner-desc {
          font-size: fn(35);
      }
  }
  .about-desc {
      width: fn(1400);
      height: fn(190);
      margin: fn(44) auto;
      p {
          font-size: fn(18);
          line-height: fn(30);
      }
      p.title {
          margin-bottom: fn(40);
      }
  }
  .about-footer {
      width: 100%;
      height: fn(306);
      background: #363452;
      ul.list {
          width: fn(1400);
          margin: 0 auto;
        //   padding-top: fn(29);
          display: flex;
          justify-content: space-between;
          li {
              height: 100%;
              padding-top: fn(29);
              div.title {
                  font-size: fn(14);
                  color: #ffffff;
                  line-height: fn(39);
                  img {
                      width: fn(34);
                      height: fn(39);
                      vertical-align: middle;
                      margin-right: fn(23);
                  }
              }
              p {
                  line-height: fn(23);
                  width: fn(127);
                  color: #BABABA;
              }
              p.left {
                  margin-left: fn(64);
              }
          }
      }
  }

}
</style>
