<template>
    <div class="footer">
            <ul class="list">
                <li>
                    <div class="title">
                       <img src="../../assets/about//about-pgc-logo.png" alt=""/> 
                       Pretty Good Confidential
                    </div>
                    <p class='left'><a href="#">contact@pgc.info</a></p>
                    <p class='left'><a href="#">PGC Academy</a></p>
                </li>
                <li>
                    <div class="title">
                        General
                    </div>
                    <p><a href="#">Home</a></p>
                    <p><a href="#">About Us</a></p>
                    <p><a href="#">Press</a></p>
                </li>
                <li>
                    <div class="title">
                        Technology
                    </div>
                    <p><a href="#">Trustless efficient ZKP</a></p>
                    <p><a href="#">Decentralized Confidential Payment</a></p>
                    <p><a href="#">Auditability</a></p>
                    <p><a href="#">Whitepaper</a></p>
                </li>
                <li>
                    <div class="title">
                        Product
                    </div>
                    <p><a href="#">pgcETH</a></p>
                    <p><a href="#">Decentralized Confidential Payment</a></p>
                </li>
                <li>
                    <div class="title">
                        Community
                    </div>
                    <p><a href="#">Github</a></p>
                </li>
            </ul>
        </div>
</template>

<script>
export default {
  name: 'footer',
  props: {
    isActive: {
      type: Boolean,
      default: false
    },
    toggleClick: {
      type: Function,
      default: null
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
.footer {
      width: 100%;
      height: fn(306);
      background: #363452;
      ul.list {
          width: fn(1400);
          margin: 0 auto;
        //   padding-top: fn(29);
          display: flex;
          justify-content: space-between;
          li {
              height: 100%;
              padding-top: fn(29);
              div.title {
                  font-size: fn(14);
                  color: #ffffff;
                  line-height: fn(39);
                  img {
                      width: fn(34);
                      height: fn(39);
                      vertical-align: middle;
                      margin-right: fn(23);
                  }
              }
              p {
                  line-height: fn(23);
                  width: fn(127);
                  color: #BABABA;
              }
              p.left {
                  margin-left: fn(64);
              }
          }
      }
  }


</style>
