<!-- technology -->
<template>
    <div class="technology-container">
        <!-- header-start -->
        <Header></Header>
        <!-- header-end -->
        <!--  banner-start  -->
        <div class="technology-banner">
            <section class="banner-desc">
                <p class="title">A CRYPTOGRAPHIC-BASED PROTOCOL WHICH FEATURES IN HIGH SCALABILITY AND PRIVACY</p>
                <div class="github">
                    <img src="../../assets/githubPng.png" alt="">
                    <div class="name">Go To GitHub</div>
                </div>
            </section>
        </div>
        <!--  banner-end -->

        <div class="technology-proofs">
            <div class="proofs-title">Trustless efficient Zero Knowledge Proofs</div>
            <img src="../../assets/proofImg.png" alt="">
        </div>

        <div class="technology-efficient">
            <div class="efficient-title">Efficient Sigma protocols and zero-knowledge range proofs without trust setup.</div>
            <div class="efficient-content">
                <p>While zero-knowledge proof systems are needed for preserving privacy across blockchain networks, almost all require trusted-setups. This means that users of the privacy tool must trust a third-party to configure the system properly. In particular, zero-knowledge proof systems involve some randomly generated numbers. Trusted setups mean that the third-party must be trusted to generate random numbers properly and keep them secret. If the secrets are leaked then the security of the zero-knowledge proof system is compromised.</p>
                <p>In a trusted-setup, the person (or people) doing this can prove that an invalid transaction is valid. In a cryptocurrency, this could be used to create money out of thin air. Previous proofs without trusted setup were either in the hundreds of kilobytes or did not have the scalability property.  </p>
                <p>Unlike trusted-setup systems, PGC requires no trust from third parties at all, and with high performance and small proofs size. In our system, transactions are less than 1.3KB and take under 38ms to generate and 15ms to verify.</p>
            </div>
        </div>

        <div class="technology-decentralized">
            <div class="decentralized-title">Decentralized confidential payment system with auditability</div>
            <div class="decentralized-content">
                <div class="content-item">
                    <img src="../../assets/decentralized1.png" alt="">
                    <div class="item-content">
                        <div class="title">Authenticity</div>
                        <div class="content">only the owner of an <br> account can spend his coin</div>
                    </div>
                </div>
                <div class="content-item">
                    <img src="../../assets/decentralized2.png" alt="">
                    <div class="item-content">
                        <div class="title">Authenticity</div>
                        <div class="content">the account balance and <br> transfer amount are hidden</div>
                    </div>
                </div>
                <div class="content-item">
                    <img src="../../assets/decentralized3.png" alt="">
                    <div class="item-content">
                        <div class="title">Authenticity</div>
                        <div class="content">one is unable to make validation nodes <br> accept an incorrect transaction.</div>
                    </div>
                </div>
                <div class="content-item">
                    <img src="../../assets/decentralized4.png" alt="">
                    <div class="item-content">
                        <div class="title">Authenticity</div>
                        <div class="content">the participant is unable to fool the auditor <br> and the auditing results do not impact the <br> confidentiality of rest transactions.</div>
                    </div>
                </div>
            </div>
        </div>


        <div class="technology-simple">
            <div class="simple-title">simple and complete, and support flexible audit.</div>
            <div class="simple-tip">Generic DCP construction  from Integrated Signature and Encryption <br> (ISE) and non-interactive zero-knowledge (NIZK) proofsystems.. </div>
            <div class="simple-content">
                <div class="simple-item">
                    <div class="simple-item-top">
                        <img src="../../assets/simple1.png" alt="">
                        <div class="top-content">Users only need a fixed secret key <br>to check balance and spend coins.</div>
                    </div>
                    <div class="simple-item-bottom">ISE guarantees that each account can safely use a single keypair for both encryption and signing. This feature greatly simplifies the overall design from both conceptual and practical aspects.</div>
                </div>
                <div class="simple-item">
                    <div class="simple-item-top">
                        <img src="../../assets/simple2.png" alt="">
                        <div class="top-content">DCP requires no out-of-band transfer</div>
                    </div>
                    <div class="simple-item-bottom">As soon as a transaction is recorded on the blockchain, the payment is finalized and takes effect immediately – receiver’s balance increases with the same amount that sender’s balance decreases, and the receiver can spend his coin on his will.This is in contrast to many commitment-based cryptocurrencies that require out-of-band transfer, which are thus not complete.</div>
                </div>
                <div class="simple-item">
                    <div class="simple-item-top top3">
                        <img src="../../assets/simple3.png" alt="">
                        <div class="top-content">DCP supports a large class of policies</div>
                    </div>
                    <div class="simple-item-bottom">NIZK not only enables a sender to prove transactions satisfy the most basic correctness policy, but also allow a user to prove any set of confidential transactions he participated satisfy a large class of application-dependent policies, such as limit on total transfer amounts, paying tax rightly according the tax ratio, and transaction opens to some exact value.</div>
                </div>
                <div class="simple-item">
                    <div class="simple-item-top top4">
                        <img src="../../assets/simple4.png" alt="">
                        <div class="top-content">Regulation-friendly</div>
                    </div>
                    <div class="simple-item-bottom">Statement can be provided by any party of transaction.  A transaction can be verified by anyone without disclosing secret keys of sender or receiver.</div>
                </div>
            </div>
        </div>


         <div class="technology-flexiable">
            <div class="flexiable-title">Flexiable audit policies supported</div>
            <div class="flexiable-content">
                <div class="flexiable-item">
                    <img src="../../assets/flexiable1.png" alt="">
                    <div class="item-content">
                        <div class="item-content-title">Anti-money laundering: the sum of a collection of outgoing/ <br>incoming transactions of a particular account is limited.</div>
                        <div class="item-content-val">Implements and integrates the state-of-the-art trustless zero-knowledge proof schemes and offers multiple technical modules based on our zero-knowledge proof implementation to enable the developers to build privacy-preserving blockchain under various payment models instantaneously.</div>
                    </div>
                </div>
                <div class="line">
                    <div class="round"></div>
                    <div class="dash"></div>
                    <div class="round"></div>
                </div>
                <div class="flexiable-item">
                    <div class="item-content">
                        <div class="item-content-title">Tax payment: the sender do pay the tax according to the tax ratio.</div>
                        <div class="item-content-val">Consider an employer pay salaries to employees via a decentralized payment system with strong privacy. If the employer did not receive the correct amount, how can he generate proof to support his complaint? Likewise, how can the employer protecting himself to demonstrate he has indeed completed payment with the correct amount via some transaction recorded on the blockchain.</div>
                    </div>
                    <img src="../../assets/flexiable2.png" alt="" style="margin-left: 40px">
                </div>
                <div class="line">
                    <div class="round"></div>
                    <div class="dash"></div>
                    <div class="round"></div>
                </div>
                <div class="flexiable-item">
                    <img src="../../assets/flexiable3.png" alt="">
                    <div class="item-content">
                        <div class="item-content-title">Selectively disclosure: the transfer amount is indeed some value.</div>
                        <div class="item-content-val">Consider the employees also pay the incoming tax via the same payment system. How can he convince the tax office that he has paid the tax according to the tax ratio.</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="technology-performance">
            <div class="performance-title">Performance</div>
            <div class="performance-tip">Fast and efficent zk proofs</div>
            <div class="performance-content">
                <div class="performance-content-item">
                    <img src="../../assets/performance1.png" alt="">
                    <div class="val">Transactions are less than 1.3KB and take <br> under 38ms to generate and 15ms to verify.</div>
                </div>
                <div class="performance-content-item">
                    <img src="../../assets/performance2.png" alt="">
                    <div class="val">The performance of PGC is comparative to <br> Zether. Besides,PGC can bring confidential <br>  payment ability to ETH and other ERC-20 <br> tokens on Ethereum, while Zetherdoes not <br> support ERC-20 tokens.</div>
                </div>
            </div>
        </div>


        <!-- confidential-desc-start -->
        
        
        <!--  confidential-desc-end  -->

        <!--  confidential-footer-start -->
       <Footer></Footer>
        <!--  confidential-footer-end  -->
    </div>
</template>
<script>
import Header from '@/components/Header'
import Footer from '@/components/Footer'
export default {
    components: {
        Header,
        Footer
    },
    data () {
        return {

        }
    }
}
</script>
<style rel="stylesheet/scss" lang="scss">
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
ul,li {
    list-style: none;
    margin: 0;
    padding: 0;
}
.technology-container{
    min-width: fn(1200);
  .header {
    width: fn(1400);
    margin: fn(22) auto;
    display: flex;
    z-index: 100;
    .section {
      display: flex;
      align-items: center;
      justify-items: center;
      .logo {
        width: fn(41);
        height: fn(47);
        margin-right: fn(25)
      }
    } 
    .section-desc {
        // width: fn(213);
        height: fn(25);
        margin-top: fn(11);
        font-size: fn(18);
        color: #454545;
        font-weight: 600;
    }
    .href-section {
      margin-left: fn(155);
      display: flex;
      justify-content: center;
      align-items: center;
      .nav-link {
        font-size:fn(16);
        line-height:fn(28);
        color:#454545;
        position: relative;
        display: block;
        position: relative;
        padding: fn(5) fn(16);
        margin-left: fn(10);
        text-decoration: none;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        cursor: pointer;
      }
    }
    .nav-link:before {
         content: "";
         position: absolute;
         bottom: 0;
         width: 0;
         border-bottom: 2px solid #ffc123;
     }
     
     .nav-link:before {
         left: 0;
         bottom: -4px;
     }
     
     .nav-link:hover {
        //  color: #222;
     }
     
     .nav-link:hover:before {
         width: 100%;
     }
     
     .nav-link:before {
         -webkit-transition: width .2s ease-in-out;
         transition: width .2s ease-in-out;
     }
  }
  .technology-banner {
      background: url("../../assets/about/about-bg.png") no-repeat;
      background-size: cover;
      width: 100%;
      height: fn(412);
      display: flex;
      justify-content: center;
      align-items: center;
      color: #FFFFFF;
      .banner-desc {
          width: fn(700);
          margin: 0 auto;
          display: flex;
          flex-direction: column;
          align-items: center;
          .title {
            font-size: fn(28);
            line-height: fn(40);
            font-weight: 800;
          }
          .github {
            width:fn(248);
            height:fn(56);
            background:rgba(255,255,255,1);
            border:2px solid rgba(54,52,82,1);
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            cursor: pointer;
            img {
                width: fn(31);
                height: fn(31);
            }
            .name {
                font-size:fn(20);
                font-weight:400;
                color:rgba(54,52,82,1);
            }
          }
      }
  }

  .technology-proofs {
      width: 100%;
      height: fn(320);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      .proofs-title {
        font-size:fn(24);
        font-family:PingFang SC;
        font-weight:600;
        line-height:23px;
        color:rgba(54,52,82,1);
        margin-top: fn(51);
      }
      img {
          width: fn(1200);
          height: fn(179);
          margin-top: fn(30);
      }
  }

  .technology-efficient {
      width: 100%;
      height: fn(484);
      background-color: #FAFAFD;
      display: flex;
      flex-direction: column;
      align-items: center;
      .efficient-title {
        font-size:fn(24);
        font-family:PingFang SC;
        font-weight:600;
        line-height:23px;
        color:rgba(54,52,82,1);
        margin-top: fn(44);
      }
      .efficient-content {
          width: fn(1200);
        font-size:fn(18);
        font-family:PingFang SC;
        font-weight:400;
        line-height:fn(26);
        color:rgba(72,72,72,1);
        margin-top: fn(35);
      }
  }

  .technology-decentralized {
      width: 100%;
      height: fn(622);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      .decentralized-title {
        font-size:fn(24);
        font-family:PingFang SC;
        font-weight:600;
        line-height:23px;
        color:rgba(54,52,82,1);
        margin-top: fn(52);
      }
      .decentralized-content {
          display: flex;
          flex-wrap: wrap;
          width: fn(1200);
          .content-item {
              display: flex;
              width: fn(600);
              align-items: center;
              margin-top: fn(107);
              img {
                  width: fn(126);
                  height: fn(126);
              }
              .item-content {
                  margin-left: fn(47);
                  .title {
                    font-size:fn(20);
                    font-family:PingFang SC;
                    font-weight:600;
                    line-height:23px;
                    color:rgba(8,8,8,1);
                  }
                  .content {
                    font-size:fn(18);
                    font-family:PingFang SC;
                    font-weight:400;
                    line-height:fn(30);
                    color:rgba(95,95,95,1);
                  }
              }
          }
      }
  }

  .technology-simple {
      width: 100%;
      height: fn(958);
      background-color: #FAFAFD;
      display: flex;
      flex-direction: column;
      align-items: center;
      .simple-title {
        font-size:fn(24);
        font-family:PingFang SC;
        font-weight:600;
        line-height:fn(23);
        color:rgba(54,52,82,1);
        margin-top: fn(44);
      }
      .simple-tip {
        font-size:fn(14);
        font-family:PingFang SC;
        font-weight:400;
        line-height:fn(22);
        color:rgba(150,150,150,1);
         margin-top: fn(35);
        //  margin-bottom: fn(62);
      }
      .simple-content {
          width: fn(1200);
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          .simple-item {
              width:fn(504);
              .simple-item-top {
                width:fn(504);
                height:fn(112);
                background:rgba(240,240,245,1);
                display: flex;
                align-items: center;
                margin-top: fn(62);
                &.top3 {
                    margin-top: fn(-40);
                }
                &.top4 {
                    justify-content: center;
                }
                  img {
                      width: fn(70);
                      height: fn(70);
                      margin-left: fn(15);
                  }
                  .top-content {
                    font-size:fn(20);
                    font-family:PingFang SC;
                    font-weight:600;
                    line-height:fn(23);
                    color:rgba(8,8,8,1);
                    margin-left: fn(29);
                  }
              }
              .simple-item-bottom {
                width:fn(504);
                font-size:fn(18);
                font-family:PingFang SC;
                font-weight:400;
                line-height:fn(30);
                color:rgba(95,95,95,1);
                margin-top: fn(20);
              }
          }
      }
  }

  .technology-flexiable {
      width: 100%;
      height: fn(858);
      background-color: #fff;
      display: flex;
      flex-direction: column;
      align-items: center;
      .flexiable-title {
        font-size:fn(24);
        font-family:PingFang SC;
        font-weight:600;
        line-height:23px;
        color:rgba(54,52,82,1);
        margin-top: fn(46);
        margin-bottom: fn(78);
      }
      .flexiable-content {
          .flexiable-item {
              display: flex;
              img {
                  width: fn(140);
                  height: fn(140);
                  margin-right: fn(158);
              }
              .item-content {
                  .item-content-title {
                    // width:fn(524);
                    // height:fn(57);
                    font-size:fn(18);
                    font-family:PingFang SC;
                    font-weight:600;
                    line-height:fn(26);
                    color:rgba(54,52,82,1);
                  }
                  .item-content-val {
                    width:fn(634);
                    height:fn(106);
                    font-size:fn(14);
                    font-family:PingFang SC;
                    font-weight:400;
                    line-height:fn(24);
                    color:rgba(62,62,62,1);
                    margin-top: fn(13);
                  }
              }
          }
      }
      .line {
          display: flex;
          align-items: center;
          margin-top: fn(40);
          margin-bottom: fn(63);
          .dash {
            width:fn(762);
            border:fn(1) dashed rgba(54,52,82,0.29411764705882354);
            margin-left: fn(8);
            margin-right: fn(8);
          }
          .round {
            width:fn(11);
            height:fn(11);
            background:rgba(255,255,255,1);
            border:fn(2) solid rgba(182,178,237,1);
            border-radius:50%;
          }
      }
  }

  .technology-performance {
        width: 100%;
      height: fn(404);
      background-color: #FAFAFD;
      display: flex;
      flex-direction: column;
      align-items: center;
      .performance-title {
        font-size:fn(24);
        font-family:PingFang SC;
        font-weight:600;
        line-height:23px;
        color:rgba(54,52,82,1);
        margin-top: fn(44);
      }
      .performance-tip {
        font-size:fn(18);
        font-family:PingFang SC;
        font-weight:600;
        line-height:fn(26);
        color:rgba(121,120,139,1);
        margin-top: fn(13);
      }
      .performance-content {
          display: flex;
          margin-top: fn(84);
          .performance-content-item {
              display: flex;
              align-items: center;
              img {
                  width: fn(140);
                  height: fn(140);
                  margin-right: fn(37);
              }
              .val {
                  font-size:fn(18);
                font-family:PingFang SC;
                font-weight:400;
                line-height:fn(30);
                color:rgba(95,95,95,1);
              }
          }
      }
  }
 

  .technology-footer {
      width: 100%;
      height: fn(306);
      background: #363452;
      ul.list {
          width: fn(1400);
          margin: 0 auto;
        //   padding-top: fn(29);
          display: flex;
          justify-content: space-between;
          li {
              height: 100%;
              padding-top: fn(29);
              div.title {
                  font-size: fn(14);
                  color: #ffffff;
                  line-height: fn(39);
                  img {
                      width: fn(34);
                      height: fn(39);
                      vertical-align: middle;
                      margin-right: fn(23);
                  }
              }
              p {
                  line-height: fn(23);
                  width: fn(127);
                  color: #BABABA;
              }
              p.left {
                  margin-left: fn(64);
              }
          }
      }
  }

}
</style>
