<template>
  <div class="home-container">
    <div class="header">
      <a class="section" href="/">
        <img src="../../assets/logo.png" alt="" class="logo">
        <img src="../../assets/temi-logo.png" alt="" class="temi-logo">
      </a>
      <div class="href-section">
        <a href="#home" class="nav-link">首页</a>
        <a href="#infrastructure" class="nav-link">区块链基础产品</a>
        <a href="#plan" class="nav-link">区块链应用服务</a>
        <a href="#case" class="nav-link">客户案例</a>
        <a href="#partner" class="nav-link">合作伙伴</a>
        <a href="#information" class="nav-link">特米资讯</a>
      </div>
      
    </div>
    <div class="home-view" id="home">
      <div class="home-view-content">
        <div class="home-view-left">
          <div class="home-view-left-title">区块链服务领域的 </br> 设计者、建设者和推动者</div>
          <div class="home-view-left-content" v-for="(item, index) in homeData" v-bind:key='index'>
            <img :src="item.icon" alt="" class="img-icon">
            <div :class="'img-text' + index">{{item.name}}</div>
          </div>
        </div>
        <div class="home-view-right">
          <img src="../../assets/homeContentBg.png" alt="">
          <div class="home-view-bottom">
            <div class="home-view-bottom-item">
              <div class="num">10+</div>
              <div class="name">服务政府客户</div>
            </div>
            <div class="home-view-bottom-item">
              <div class="num">50+</div>
              <div class="name">服务企业客户</div>
            </div>
            <div class="home-view-bottom-item">
              <div class="num">100+</div>
              <div class="name">服务咨询客户</div>
            </div>
            <div class="home-view-bottom-item last">
              <div class="num">10,000+</div>
              <div class="name">覆盖用户数</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="infrastructure" id="infrastructure">
      <div class="infrastructure-title">区块链基础产品</div>
      <div class="infrastructure-content">
        <div class="infrastructure-content-item">
          <div class="infrastructure-content-item-title">联盟链产品</div>
          <div class="infrastructure-content-item-content item2">
             <div class="item-content">
               <img src="../../assets/infrastructure-icon2.png" alt="">
               <div class="item-text">特米科技自主研发的可控区块链底层平台，具备高性能、高可用、可扩展、强隐私保护等特性，可支持基于企业现有平台快速改造、部署及扩展以支撑企业、政府、产业联盟等行业应用，实现多主体之间的价值流通。</div>
             </div>
             <div class="item-btn" @click="goUnion">了解更多</div>
           </div>
        </div>
        <div class="infrastructure-content-item">
          <div class="infrastructure-content-item-title">公有链产品</div>
          <div class="infrastructure-content-item-content">
             <div class="item-content">
               <img src="../../assets/infrastructure-icon1.png" alt="">
               <div class="item-text">符合当前主流技术趋势的公有链平台，满足安全、高可用性、高并发性的需求，提供符合业务模式的技术架构和共识算法，同时可根据需求定制子链、侧链、跨链协议，以支持生态多样性；</div>
             </div>
             <div class="item-btn" @click="goPublic">了解更多</div>
           </div>
           
        </div>
      </div>
    </div>
    <div class="plan" id="plan">
      <div class="plan-title">区块链应用服务</div>
      <div class="plan-content">
        <el-tabs v-model="activeName" @tab-click="handleClick"  stretch  >
          <el-tab-pane label="数据存证" name="1">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">区块链不可篡改，有利于提升数据的可信度。区块链应用于数据存证，可以降低存证成本，提高效率，为司法存证、知识产权、电子合同管理等业务赋能。</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw1-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
          <el-tab-pane label="产品溯源" name="2">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">区块链记录商品各项数据，实现商品的原料的生产、加工、物流运输、零售交易等数据上链追溯，留痕留证，透明审计，实现产品生产、流通全过程的可视化监管。</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw2-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
          <el-tab-pane label="供应链金融" name="4">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">区块链将信息流、物流、资金流整合实现“三流合一”，有助于提升信任穿透水平，解决中小微企业“融资难、融资贵”问题，赋能中小企业，降低企业融资成本，提高融资效率。</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw3-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
          <el-tab-pane label="数字资产交易" name="3">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">区块链在数字资产发行与流通中扮演资产确权、交易、记账、对账和清算的角色，为参与者提供全流程交易管理功能；而区块链技术的防篡改能力，实现多个参与方之间信息交叉验证、信用相互背书，增强信息透明度，提高业务操作效率；</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw4-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
          <el-tab-pane label="数据共享" name="5">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">区块链技术可以推动医疗、征信、公益等行业数据共享；推进在公共服务、社会治理、市场监管等领域的应用，促进跨部门的数据交换和共享；</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw5-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
          <el-tab-pane label="信任计算" name="6">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">中心化系统无法“自证清白”，区块链为可证公平的随机数生成提供了天然的基础。 利用智能合约，将开奖、兑奖环节在区块链上完成，保证保证公平、公正、公开。</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw6-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
          <el-tab-pane label="集群智能系统" name="7">
            <div class="view1">
              <div class="view1-left">
                <img src="../../assets/quotes.png" alt="" class="quotes-left">
                <div class="content">区块链技术的共识机制和分布式特点，可完成分布式平等决策，有效杜绝无人机集群中恶意节点冒充或欺骗式攻击；可通过共识投票，形成对目标一致的态势，确保无人集群协同的稳定高效，满足其抗毁顽存、信息共享、协同信任等任务需求。</div>
                <img src="../../assets/quotes1.png" alt="" class="quotes-right">
              </div>
              <img src="../../assets/veiw7-bg.png" alt="" class="view1-right">
            </div>
          </el-tab-pane>
        </el-tabs>
      </div>
    </div>
    <div class="case" id="case">
      <div class="case-title">客户案例</div>
      <div class="case-content">
        <img src="../../assets/carouselBg.png" alt="" class="carousel-left">
        <el-carousel :interval="5000" arrow="always" :autoplay='false'>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">紫云股份</div>
                <div class="title1">全国医药行业区块链联盟服务平台</div>
                <img src="../../assets/zylogo.png" alt="">
                <div class="content-text">全国医药行业区块链联盟服务平台从药品追溯入手，利用区块链技术保证药品在生产、流通、经营、存储等环节数据的真实性，提供可信审查数据与真实药品溯源信息。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">北京大数据研究院</div>
                <div class="title1">基于区块链技术的人力资源服务体系</div>
                <img src="../../assets/bd.png" alt="">
                <div class="content-text">基于区块链和大数据构建个人工作时间和组织工作任务精准匹配以及适应新型就业形态的个性化社保服务体系，大大完善和提升了人力资源服务体系和服务生态。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">广电总局</div>
                <div class="title1">热点魔盒——基于区块链的新一代多媒体智能单元</div>
                <img src="../../assets/gd.png" alt="">
                <div class="content-text">基于区块链技术和共享经济理念构建新一代多媒体智能单元，基于IPFS技术，缩减带宽和存储成本，通过经济学激励机制，调动消费者积极性，打造绿色经济。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">海南省政府</div>
                <div class="title1">基于区块链的离岛免税资格流转与验证</div>
                <img src="../../assets/hn.png" alt="">
                <div class="content-text">提出基于区块链技术的离岛免税资格流转与验证平台方案，方便居民购物和转让购买资格，提升免税店和海关验证免税资格的速度和效率，带动当地经济发展。</div>
              </div>
            </div>
          </el-carousel-item>
          <!-- <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">重庆药交所</div>
                <div class="title1">基于区块链的票据保理平台</div>
                <img src="../../assets/yj.png" alt="">
                <div class="content-text">通过智能合约实现数字票据业务从发行到兑付全流程。通过发行可信数字票据，各参与方可通过数字票据结算往来业务费用，金融机构对所有数字票据提供兑现。</div>
              </div>
            </div>
          </el-carousel-item> -->
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">电子发票</div>
                <div class="title1">基于分布式记账的电子发票管理系统</div>
                <img src="../../assets/dzfp.png" alt="">
                <div class="content-text">基于分布式记账技术提供一种能够防篡改且有效的电子发票管理系统和方法。电子发票业务智能合约包括电子发票创建、流转、申请报销、确认报销和驳回报销全流程。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">国家福彩中心</div>
                <div class="title1">基于区块链的福利彩票存证示范应用</div>
                <img src="../../assets/cp.png" alt="">
                <div class="content-text">利用区块链技术提供彩票销售、封存和兑奖等环节的数据存证查证服务，实现对彩票销售数据完整性的可信保全，保证彩票销售数据的公平、透明，大大增强公信力。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">深圳市2017年重大科技产业专项</div>
                <div class="title1">基于分布式记账的电子发票管理系统</div>
                <img src="../../assets/szs.png" alt="">
                <div class="content-text">利用区块链技术，解决航空航运资产、金融资产交易双方缺乏信任机制的问题，将交易从熟人圈子交易扩展到整个交易市场，实现普惠金融，创建航运领域新的应用场景。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">深圳市福田区卫生公益性科研项目</div>
                <div class="title1">基于区块链的居民电子健康档案数据受控共享和运营</div>
                <img src="../../assets/jkjg.png" alt="">
                <div class="content-text">构建居民电子健康档案（EHR）数据共享服务系统，利用区块链维护数据的安全属性和访问权限，保证数据不可篡改、不可伪造、透明追溯和隐私保护。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">中国二维码注册认证中心</div>
                <div class="title1">基于区块链的二维码注册认证</div>
                <img src="../../assets/ewm.png" alt="">
                <div class="content-text">打造基于区块链的二维码注册认证服务，将任何证件、实物、无形资产、私人记录、证明等二维码迁移到区块链，无人可改变任何纪录，用户可通过区块链系统进行查验。</div>
              </div>
            </div>
          </el-carousel-item>
          <el-carousel-item>
            <div class="case-carousel">
              <div class="carousel-right">
                <div class="title">国家新能源汽车创新中心</div>
                <div class="title1">新能源汽车行业碳积分流转平台</div>
                <img src="../../assets/gc.png" alt="">
                <div class="content-text">构建新能源汽车区块链服务平台，连接车载终端，将新能源汽车检测、运行等相关数据上链，并通过智能合约自动完成碳积分计算，为碳积分流转交易提供可信数据支撑。</div>
              </div>
            </div>
          </el-carousel-item>
        </el-carousel>
      </div>
    </div>
    <div class="partner" id="partner">
      <div class="partner-title">合作伙伴</div>
      <div class="partner-content">
        <img src="../../assets/partBg.png" alt="">
        <!-- <div class="partner-item"><img src="../../assets/partner1.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner2.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner3.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner4.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner5.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner6.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner7.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner8.png" alt=""></div>
        <div class="partner-item"><img src="../../assets/partner9.png" alt=""></div> -->
      </div>
    </div>
    <div  class="information" id="information">
      <div class="information-title">特米资讯</div>
      <div class="information-content">
        <a class="item1" href="http://m.sohu.com/a/300161943_100162153" target="_blank">
          <img src="../../assets/newBg1.png" alt="">
          <div class="look">查看全文》</div>
          <div class="info">
            <div class="title">特米科技推出无人机+区块链解决方案</div>
            <div class="time">2019-3-09</div>
            <div class="content">近日，区块链技术公司北京特米科技有限公司对外公布了将区块链技术用于无人机注册登记、身份识别、安全控制、以及无人机群体决策的解决方案。</div>
          </div>
        </a>
        <a class="item2" href="http://www.sohu.com/a/203008546_120672" target="_blank">
          <img src="../../assets/newBg2.png" alt="">
          <div class="info">
            <div class="title">“第二届中国区块链与金融科技论坛”成功举行</div>
            <div class="time">2017-11-07</div>
            <div class="content">特米科技CEO唐聪在活动中带来了题为《安全区块链系统与智能合约》的主题演讲。</div>
          </div>
          <div class="look">查看全文》</div>
        </a>
        <div class="item3">
          <a class="item3-view1" href="http://www.afzhan.com/news/detail/79254.html" target="_blank">
            <img src="../../assets/newBg3.jpg" alt="">
          </a>
          <a class="item3-view2" href="http://guoqing.china.com.cn/2018-08/27/content_60536507.htm" target="_blank">
            <img src="../../assets/newBg4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
    <div class="foot">
      <div class="foot-content">
        <div class="section2">
          <div class="section1-1">
            <img src="../../assets/logo.png" alt="" class="logo">
            <div class="logo-title">特米科技</div>
          </div>
          <div class="section1-2">
            <div class="img"><img src="../../assets/email.png" alt="" ></div>
            <div class="email">info@temi.network</div>
          </div>
          <div class="section1-2">
            <div class="img address"><img src="../../assets/address.png" alt="" ></div>
            <div class="email">北京市海淀区北二街8号中关村SOHO大厦A区1203室</div>
          </div>
        </div>
        <div class="section2">
          <a class="title">产品</a>
          <a class="item-text" @click="goPublic" >公有链产品</a>
          <a class="item-text" @click="goUnion">联盟链产品</a>
          <a class="item-text">数字资产钱包</a>
          <a class="item-text">数字资产托管平台</a>
          <a class="item-text">DApp智能合约</a>
          <a class="item-text">数字资产交易工具</a>
        </div>
        <div class="section2">
          <a class="title">解决方案</a>
          <a class="item-text">数据存证</a>
          <a class="item-text">供应链金融</a>
          <a class="item-text">防伪溯源</a>
          <a class="item-text">互助保险</a>
          <a class="item-text">数据受控共享 </a>
          <a class="item-text">数字资产</a>
        </div>
        <div class="section2">
          <a class="title">关于我们</a>
          <a class="item-text">资讯</a>
        </div>
      </div>  
    </div>
  </div>
</template>

<script>

import icon1 from '@/assets/home-icon1.png'
import icon2 from '@/assets/home-icon2.png'
import icon3 from '@/assets/home-icon3.png'
import icon4 from '@/assets/home-icon4.png'
import icon5 from '@/assets/home-icon5.png'

export default {
  name: 'home',
  data() {
    return {
      homeData: [
        { icon: icon1, name: '促进数据共享' },
        { icon: icon2, name: '优化业务流程' },
        { icon: icon3, name: '降低运营成本' },
        { icon: icon4, name: '提升协同效率' },
        { icon: icon5, name: '建设可信体系' }
      ],
      activeName: '1'
    }
  },
  methods: {
    handleClick(tab, event) {
      console.log(tab, event)
    },
    goUnion() {
      this.$router.push({ path: '/union' })
    },
    goPublic() {
      this.$router.push({ path: '/public' })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" >
@function fn($data){
  @return $data/1920*100 + vw;
}
@function sn($data){
  @return $data/414*100 + vw;
}
.home-container {
  .header {
    position: absolute;
    width: fn(1400);
    left: 50%;
    transform: translate(-50%, 0);
    top: fn(22);
    display: flex;
    z-index: 100;
    .section {
      display: flex;
      align-items: center;
      justify-items: center;
      .logo {
        width: fn(38);
        height: fn(27);
        margin-right: fn(20)
      }
      .temi-logo {
        width: fn(120);
        height: fn(22);
      }
    } 
    .href-section {
      margin-left: fn(160);
      display: flex;
      .nav-link {
        font-size:fn(18);
        line-height:fn(28);
        color:rgba(255,255,255,1);
        position: relative;
        display: block;
        position: relative;
        padding: fn(5) fn(16);
        margin-left: fn(10);
        text-decoration: none;
        -webkit-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;
        cursor: pointer;
      }
    }
    .nav-link:before {
         content: "";
         position: absolute;
         bottom: 0;
         width: 0;
         border-bottom: 2px solid #ffc123;
     }
     
     .nav-link:before {
         left: 0;
         bottom: -4px;
     }
     
     .nav-link:hover {
        //  color: #222;
     }
     
     .nav-link:hover:before {
         width: 100%;
     }
     
     .nav-link:before {
         -webkit-transition: width .2s ease-in-out;
         transition: width .2s ease-in-out;
     }
  }
  .home-view {
    background-image: url('../../assets/firstViewBg.png');
    width: 100%;
    height: fn(950);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    .home-view-content {
      width: fn(1400);
      position: relative;
      .home-view-left {
        margin-top: fn(258);
        .home-view-left-title {
          font-size:fn(35);
          font-family:Source Han Sans CN;
          font-weight:800;
          line-height: fn(45);
          color:rgba(28,255,246,1);
          text-shadow:0px 3px 13px rgba(30,101,172,0.34);
          margin-bottom: fn(70);
        }
        .home-view-left-content {
          margin-top: fn(36);
          font-size:fn(27);
          color:rgba(255,255,255,1);
          display: flex;
          align-items: center;
          img {
            margin-right: fn(20);
          }
          div {
            // font-family: 'tlc';
          }
          .img-text0 {
            margin-left: fn(-6);
          }
        }
      }
      .home-view-right {
        position: absolute;
        top: fn(160);
        right: 0;
        img {
          width: fn(1024);
          height: fn(641);
        }
        .home-view-bottom {
          display: flex;
          justify-content: space-around;
          .home-view-bottom-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            width: 25%;
            &.last {
              &::after {
                width: 0;
              }
            }
            &::after {
              content: '';
              width: 1px;
              height: fn(50);
              background-color: #EFEFEF;
              position: absolute;
              top: fn(25);
              right: fn(0);
            }
            .num {
              font-size:fn(28);
              line-height:fn(49);
              font-weight: 800;
              color:rgba(255,209,0,1)
            }
            .name {
              font-size:fn(14);
              line-height:fn(25);
              color:rgba(144,144,144,1);
            }
          }
        }
      }
    }
  }
  // 
  .infrastructure {
    background-image: url('../../assets/infrastructureBg.png');
    width: 100%;
    height: fn(485);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: fn(70);
    .infrastructure-title {
      font-size: fn(30);
      // font-family: 'tlc';
      font-weight:400;
      line-height:fn(63);
      color:rgba(56,128,190,1);
    }
    .infrastructure-content {
      display: flex;
      justify-content: space-between;
      width: fn(1400);
      margin: 0 auto;
      .infrastructure-content-item {
        .infrastructure-content-item-title {
          font-size:fn(18);
          font-family:PingFang SC;
          font-weight:400;
          line-height:fn(63);
          color:rgba(51,51,51,1);
        }
        .infrastructure-content-item-content {
          width:fn(546);
          height:fn(200);
          background:linear-gradient(125deg,rgba(167,160,255,1) 0%,rgba(180,38,232,1) 100%);
          box-shadow:0px fn(17) fn(20) rgba(168,66,239,0.26);
          opacity:1;
          border-radius:fn(9);
          &.item2 {
            background:linear-gradient(146deg,rgba(80,246,220,1) 0%,rgba(60,143,255,1) 100%);
            box-shadow:0px 17px 20px rgba(66,159,239,0.26);
          }
          .item-content {
            display: flex;
            img {
              width: fn(44);
              height: fn(40);
              margin-left: fn(18);
              margin-top: fn(17);
            }
            .item-text {
              font-size:fn(14);
              font-family:PingFang SC;
              font-weight:400;
              line-height:fn(22);
              color:rgba(255,255,255,1);
              margin-top: fn(40);
              margin-right: fn(20);
              margin-left: fn(17);
              text-align: left
            }
          }
          .item-btn {
            width:fn(110);
            height:fn(26);
            background:rgba(255,255,255,0.15);
            opacity:1;
            border-radius:9px;
            color: #fff;
            font-size: fn(11);
            line-height: fn(26);
            margin: 0 auto;
            margin-top: fn(24);
            cursor: pointer;
          }
        }
      }
    }
  }
  // plan
  .plan {
    background-image: url('../../assets/planBg.png');
    width: 100%;
    height: fn(720);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: fn(97);
    // padding-bottom: fn(50);
    .plan-title {
      font-size: fn(30);
      // font-family: 'tlc';
      font-weight:400;
      line-height:fn(63);
      color:rgba(56,128,190,1);
      margin-bottom: fn(70);
    }
    .plan-content {
      display: flex;
      justify-content: space-between;
      width: fn(1400);
      margin: 0 auto;
      .view1 {
        display: flex;
        justify-content: center;
        .view1-left {
          display: flex;
          margin-top: fn(150);
          .quotes-left {
            width: fn(64);
            height: fn(92);
          }
          .quotes-right {
            width: fn(64);
            height: fn(92);
            margin-top: fn(90);
            margin-left: fn(-30)
          }
          .content {
            margin-top: fn(50);
            width: fn(370);
            font-size:fn(14);
            font-family:PingFang SC;
            font-weight:600;
            line-height:fn(24);
            color:rgba(75,75,75,1);
            text-align: left;
          }
        }
        .view1-right {
          width: fn(592);
          height: fn(376);
          margin-top: fn(40);
          margin-left: fn(50)
        }
      }
      .el-tabs.el-tabs--top {
        width: 100%;
      }
      .el-tabs__nav {
        width: 100%;
      }
      .el-tabs__item {
        color: #717171
      }
      .el-tabs__active-bar {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 5px;
        z-index: 1;
        border-radius: 9px;
        background: linear-gradient(146deg,rgba(80,246,220,1) 0%,rgba(60,143,255,1) 100%);
        box-shadow: 0px 17px 20px rgba(66,159,239,0.26);
      }
      .el-tabs__item.is-active {
        color: #0B72D0
      }
      .el-tabs__item:hover {
        color: #0B72D0;
      }
    }
  }
  // case
  .case {
    background-image: url('../../assets/caseBg.png');
    width: 100%;
    height: fn(625);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: fn(100);
    .case-title {
      font-size: fn(30);
      // font-family: 'tlc';
      font-weight:400;
      line-height:fn(63);
      color:rgba(56,128,190,1);
    }
    .case-content {
      width: fn(1400);
      margin: 0 auto;
      margin-top: fn(60);
      .el-carousel__container {
        height: 240px;
      }
      display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
      .carousel-left {
          width: fn(498);
          height: fn(385);
        }
      .el-carousel.el-carousel--horizontal {
        width: 50%;
      }
      .case-carousel {
        
        .carousel-right {
          width: fn(372);
          margin-left: fn(160);
          .title {
            font-size:fn(18);
            font-weight:600;
            line-height:fn(24);
            color:rgba(81,127,190,1);
          }
          .title1 {
            font-size:fn(16);
            font-weight:400;
            line-height:fn(25);
            color:rgba(163,163,163,1);
            margin-top: fn(13);
          }
          img {
            width: fn(181);
            height: fn(79);
            margin-top: fn(10);
          }
          .content-text {
            font-size:fn(14);
            font-weight:400;
            line-height:fn(24);
            margin-top: fn(10);
            color:rgba(75,75,75,1);
            text-align: left;
          }
        }
      }
    }
  }

  // partner
  .partner {
    background-image: url('../../assets/partnerBg.png');
    width: 100%;
    height: fn(625);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: fn(170);
    .partner-title {
      font-size: fn(30);
      // font-family: 'tlc';
      font-weight:400;
      line-height:fn(63);
      color:rgba(56,128,190,1);
    }
    .partner-content {
      width: fn(1400);
      margin: 0 auto;
      display: flex;
      margin-top: fn(30);
      justify-content: center;
      img {
        width: fn(876);
        height: fn(196);
      }
      .partner-item {
        width: 20%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }

  //
  .information {
    background-image: url('../../assets/information.png');
    width: 100%;
    height: fn(765);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: fn(120);
    .information-title {
      font-size: fn(30);
      // font-family: 'tlc';
      font-weight:400;
      line-height:fn(63);
      color:rgba(56,128,190,1);
    }
    .information-content {
      width: fn(1400);
      margin: 0 auto;
      display: flex;
      justify-content: center;
      .item1 {
        position: relative;
        &:hover {
          img {
            -webkit-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            -ms-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transition: all 0.5s ease;
          }
        }
        img {
          width: fn(670);
          height: fn(527);
        }
        .look {
          position: absolute;
          top: fn(40);
          right: fn(40);
          color: #fff;
          font-size:fn(14);
          font-weight:400;
          line-height:fn(24);
        }
        .info {
          position: absolute;
          bottom: fn(80);
          left: fn(60);
          color: #fff;
          font-size:fn(14);
          font-weight:400;
          line-height:fn(24);
          text-align: left;
          .title {
            font-size:fn(20);
            font-weight:600;
            line-height:fn(24);
          }
          .time {
            font-size:fn(12);
            font-weight:400;
            line-height:fn(16);
            color:rgba(149,149,149,1);
            margin-top: fn(10);
          }
          .content {
            font-size:fn(12);
            font-weight:400;
            line-height:fn(20);
            color:#fff;
            margin-top: fn(10);
            width: fn(481);
          }
        }
      }
      .item2 {
        margin-left: fn(-50);
        position: relative;
        &:hover {
          img {
            -webkit-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            -ms-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transition: all 0.5s ease;
          }
        }
        img {
          width: fn(322);
          height: fn(527);
        }
        .look {
          position: absolute;
          bottom: fn(70);
          right: fn(40);
          color: #fff;
          font-size:fn(14);
          font-weight:400;
          line-height:fn(24);
        }
         .info {
          position: absolute;
          width: fn(220);
          top: fn(40);
          left: fn(50);
          color: #fff;
          font-size:fn(14);
          font-weight:400;
          line-height:fn(24);
          text-align: left;
          .title {
            font-size:fn(20);
            font-weight:600;
            line-height:fn(24);
          }
          .time {
            font-size:fn(12);
            font-weight:400;
            line-height:fn(16);
            color:rgba(149,149,149,1);
            margin-top: fn(10);
          }
          .content {
            font-size:fn(12);
            font-weight:400;
            line-height:fn(20);
            color:#fff;
            margin-top: fn(10);
            width: fn(220);
          }
        }
      }
      .item3 {
        margin-left: fn(-20);
        display: flex;
        flex-direction: column;
        .item3-view1 {
          margin-top: fn(18);
          &:hover {
          img {
            -webkit-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            -ms-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transition: all 0.5s ease;
          }
        }
          img {
            width: fn(222);
            height: fn(228);
          }
        }
        .item3-view2 {
          margin-top: fn(5);
          &:hover {
          img {
            -webkit-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            -ms-transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transform: rotate(0deg) scale(1.1) translate(0%, 0%);
            transition: all 0.5s ease;
          }
        }
          img {
            width: fn(222);
            height: fn(228);
          }
        }
      }
    }
  }

  // foot
  .foot {
    background-image: url('../../assets/footBg.png');
    width: 100%;
    height: fn(525);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-top: fn(112);
    .foot-content {
      width: fn(1400);
      margin: 0 auto;
      display: flex;
      justify-content: space-around;
      .section2 {
        width: 25%;
        margin-left: 10%;
        .section1-1 {
          display: flex;
          align-items: center;
          justify-items: center;
          .logo {
            margin-right: fn(24)
          }
          .logo-title {
            font-size:fn(24);
            font-family:MicrosoftYaHei;
            font-weight: 500;
            line-height:fn(35);
            color:rgba(59,59,59,1);
          }
        }
        .section1-2 {
          display: flex;
          align-items: center;
          margin-top: fn(30);
          .img {
            display: flex;
            align-items: center;
            justify-content: center;
            width:fn(28);
            height:fn(28);
            background:rgba(248,248,248,1);
          }
          .email {
            font-size:fn(12);
            line-height:fn(24);
            color:rgba(134,134,134,1);
            margin-left: fn(15)
          }
        }
      }
      .section2 {
        width: 25%;
        text-align: left;
        margin-left: 10%;
        display: flex;
        flex-direction: column;
        .title {
          font-size:fn(20);
          line-height:fn(46);
          color:rgba(43,43,43,1);
        }
        .item-text {
          font-size:fn(12);
          line-height:fn(43);
          color:rgba(134,134,134,1);
        }
      }
    }
  }


  @-webkit-keyframes fadeInUp{
       0%{
         opacity:0;
         -webkit-transform:translate3d(0,30%,0);
         transform:translate3d(0,30%,0);
       }
       100%{
         opacity:1;
         -webkit-transform:none;
         transform:none;
       }
     }
     @keyframes fadeInUp{
       0%{
         opacity:0;
         -webkit-transform:translate3d(0,30%,0);
         -ms-transform:translate3d(0,30%,0);
         transform:translate3d(0,30%,0);
       }
       100%{
         opacity:1;
         -webkit-transform:none;
         -ms-transform:none;
         transform:none;
       }
     }
     .fadeInUp{
       -webkit-animation-name:fadeInUp;
       animation-name:fadeInUp;
       animation: .5s fadeInUp cubic-bezier(0.445, 0.05, 0.55, 0.95) both;
     }
}



</style>
